/* Colors, fonts, flex on the navigation, hover design, limited width on the main and use grid on it as well.*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Bebas+Neue&family=Nanum+Myeongjo&family=Orbitron:wght@500&family=Oswald&family=Permanent+Marker&family=Protest+Revolution&family=Quicksand:wght@300..700&family=Signika&display=swap');
body {
    font-family: "nanum-myeongjo";
    width: 99%;
}

header {
    background-color: #F0A500;
    color: black;
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: #fae9c8;
    padding: 8px;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

nav :hover {
    color: black;
    text-shadow: 0 0 10px black;
    border-radius: 6px;
    padding: 4px;
}
nav a :hover {
    color: black;
    text-shadow: 0 0 10px black;
    border-radius: 6px;
    padding: 4px;
}

footer {
    background-color: #fbc252;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: center;
    max-width: 80%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

main h2 {
    background-color: #fbc252;
    padding: 5px;
    /* border-top: 2px solid black;
    border-top-left-radius: 5px; */
}

section {
    border-radius: 20px;
    margin: 20px;
    /* border-left: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black; */
    background-color: #ffffff;
    box-shadow: 10px 10px 10px 5px rgb(223, 223, 223);
    place-items: center;

}

#foto {
    border-radius: 10px;
    max-width: 170px;
    max-height: 210px;
    margin: 20px;
    box-shadow: 5px 10px 10px 5px rgba(223, 223, 223, 0.26);
}

#flag {
    border-radius: 10px;
    max-width: 220px;
    max-height: 220px;
    margin: 20px;
    box-shadow: 5px 10px 10px 5px rgba(223, 223, 223, 0.466);
}

main p {
    max-width: 500px;
}

.flex {
    font-size: 19px;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 20px;
}

.list {
    text-align: justify;
    margin: 20px;
    font-size: 19px;
    margin-top: 100px;
    color: #000000;
}

.list a {
    color: black;
    text-decoration: none;
}

.list :hover {
    color: #F0A500;
    text-shadow: 0 0 25px #fbc252;
    font-size: 20px;
}

h3{
    font-size: 25px;
}