@media (max-width: 640px) {

    .nav-bar .close-menu, .open-menu {
        display: block;
    }
    
     .nav-bar {
        opacity: 0;
        visibility: hidden;
        
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
    } 
    .nav-bar.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-bar .links {
top: 0;
        flex-direction: column;
        align-items: flex-end;
        background-color: beige;
    }
}